version: 2

updates:
  - package-ecosystem: github-actions
    directory: "."
    schedule:
      interval: quarterly

  - package-ecosystem: cargo
    directories:
      - bsp
      - bsp/examples/kitchen-sink-rp2040
      - bsp/examples/kitchen-sink-rp235xa
      - bsp/examples/steal-rp2040
      - bsp/examples/touch-calibration-rp2040
      - bsp/examples/touch-calibration-rp235xa
    schedule:
      interval: quarterly
    groups:
      cargo-dependencies:
        patterns:
          - "*"
